$color-primario: #27aae1;
$color-secundario: #054871;
$color-terciario: #000000;
$color-gris: #999999;
$color-auxiliar: #ffffff;
$color-semitransparente: rgba(0, 0, 0, 0.8);

$size-s: 4px;
$size-xs: 8px;
$size-xxs: 12px;
$size-xxxs: 14px;
$size-m: 16px;
$size-xm: 18px;
$size-xxm: 20px;
$size-xxxm: 24px;
$size-l: 28px;
$size-xl: 32px;
$size-xxl: 36px;
$size-xxxl: 38px;
$size-gigante: 40px;
$size-xgigante: 44px;
$size-xxgigante: 48px;
$size-supergigante: 52px;
$size-xsupergigante: 56px;
$size-xxsupergigante: 60px;

$size-rem-s: 0.8rem;
$size-rem-xs: 1rem;
$size-rem-m: 1.2rem;
$size-rem-xm: 1.4rem;
$size-rem-l: 1.8rem;
