<div class="wrapper-redes-sociales redes-sociales-footer">
  {% if redes %}
    {% for red in redes %}
      <a href="{{ red.url }}" target="_blank"><img src="{{ file_url(red.icono.fileuri) }}" alt=""></a>
    {% endfor %}
  {% endif %}
</div>
